# Virtual Environment
venv/
.venv/
env/
.env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Build and distribution artifacts
build/
dist/
*.egg-info/

# Environment variables file
# IMPORTANT: Never commit secrets!
.env

# IDE / Editor specific settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db